@model TrashCollector.Models.Customer
@{
    ViewData["Title"] = "SuspendService";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>SuspendService</h1>


<table class="table">
    <tbody>
        <form asp-action="SuspendService">
            <div class="form-group">
                <label asp-for="Pickup.SuspendedStart" class="control-label"></label>
                <input asp-for="Pickup.SuspendedStart" class="form-control" />
                <span asp-validation-for="Pickup.SuspendedStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pickup.SuspendedEnd" class="control-label"></label>
                <input asp-for="Pickup.SuspendedEnd" class="form-control" />
                <span asp-validation-for="Pickup.SuspendedEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </tbody>
</table>


