@model string
@{
    ViewData["Title"] = "MapOfPickups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>MapOfPickups</h1>

<html>
<head>
    <title>Simple Map</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
        #map {
            height: 800px;
            width: 1000px;
        }

        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <div id="map"></div>
    <script>
        var lat;
        var lng;
        geocode();
        function geocode() {
            var location = '@Model';
            axios.get('https://maps.googleapis.com/maps/api/geocode/json', {
                params: {
                    address: location,
                    key: 'AIzaSyAjT5LRVBJHPdAIyvTuaFDx3t55zIPPgSA'
                }
            })
                .then(function (response) {
                    lat = response.data.results[0].geometry.location.lat;
                    lng = response.data.results[0].geometry.location.lng;

                    var marker = new google.maps.Marker({ position: { lat: lat, lng: lng }, map: map });
                    console.log(lat);
                });
        }

        var map;
        function initMap() {
            //Doesn't seem right. How do I pass in the address?
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 0, lng: 0 },
                zoom: 8
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjT5LRVBJHPdAIyvTuaFDx3t55zIPPgSA&callback=initMap"
            async defer></script>
</body>
</html>