@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Milwaukee County Municipal Trash Management Service!</h1>

    <h3>Please register or login</h3>
</div>
